@import 'reset.css';

.hidden {
	display: none;
}
.hide {
	opacity: 0;
}
#drop-areaholder {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #1E1E1E;
	height: 100vh;
	z-index: 1000;
}
#drop-area {

	border: 2px dashed rgba(255,215,0,0.25);
	border-radius: 20px;
	font-family: sans-serif;
	margin: 100px auto;
	padding: 100px 20px;
	width: calc(100vw - 200px);
	text-align: center;

}
#drop-areaholder, #results {
	transition: all 1000ms ease-in-out;
}

#drop-area.highlight {
	border-color: white;
}

.my-form {
	margin-bottom: 10px;
}
#gallery {
	margin-top: 10px;
}
#gallery img {
	width: 150px;
	margin-bottom: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.button {
	display: inline-block;
	padding: 10px;
	background: #ccc;
	color: #1d1d1d;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.button:hover {
	background: #ddd;
}
#fileElem {
	display: none;
}


body {
	font-family: 'Lato', serif;
	background: #1E1E1E;
	color: #D4D4D4;
	padding: 2rem;
}

.table {
	line-height: 2em;
	border-collapse: collapse;
}

#splits {
	width: 100%;
	margin-top: 1rem;

}
.table tr:nth-child(even) {
	background: #2a2a2a;
}
.table td {
	text-align: center;
}

#splits tr > td:first-child {
	text-align: left;
}

.green {

	color: limegreen;
}

.red {
	color: lightcoral;

}

.timegain {
	--c: rgba(0,150,0,0.25);
}
.timeloss {
	--c: rgba(150,0,0,0.25);
}

.timeloss, .timegain {
	background: linear-gradient(to right, var(--c) calc(var(--p) - 5%), transparent calc(var(--p) + 5%) );
}


.gold {
	color: gold;
}
.gold-l {
	border-left: 1px solid rgba(255,215,0,0.25);
}

.gold-r {
	border-right: 1px solid  rgba(255,215,0,0.25);
}

#categoryname {
	display: block;
	font-size: 0.75em;
	color: #a0a0a0;
	font-weight: normal;
}



.tabs {
	display: flex;
	flex-wrap: wrap;
	z-index: 1;
	position: relative;
	min-height: 25rem;
	overflow: hidden;

	border: 1px solid #333;
	border-radius: 5px;
}


.input {
	position: absolute;
	opacity: 0;
}

.label {
	width: auto;
	height: 2.75rem;
	color: #999;
	cursor: pointer;
	font-weight: bold;
	font-size: 0.875rem;
	flex-grow: 1;
	flex-basis: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: background 0.3s, color 0.3s;

	text-transform: uppercase;
	/*&:last-of-type {
		border-right: none;
	}*/
}


.panel {
	display:none;
	align-content: flex-start;
	background: #222222;
	width: 100%;
	flex-wrap: wrap;
}


.tabs .input:nth-of-type(1):checked ~ .panel:nth-of-type(1) {
	display: flex;
}
.tabs .input:nth-of-type(1):checked ~ .label:nth-of-type(1) {
	border-bottom: 2px solid white;
	background: #2a2a2a;
	color: #D4D4D4;
}

.tabs .input:nth-of-type(2):checked ~ .panel:nth-of-type(2) {
	display: flex;
}
.tabs .input:nth-of-type(2):checked ~ .label:nth-of-type(2) {
	border-bottom: 2px solid white;
	background: #2a2a2a;
	color: #D4D4D4;
}


.tabs .input:nth-of-type(3):checked ~ .panel:nth-of-type(3) {
	display: flex;
}
.tabs .input:nth-of-type(3):checked ~ .label:nth-of-type(3) {
	border-bottom: 2px solid white;
	background: #2a2a2a;
	color: #D4D4D4;
}

.tabs .input:nth-of-type(4):checked ~ .panel:nth-of-type(4) {
	display: flex;
}
.tabs .input:nth-of-type(4):checked ~ .label:nth-of-type(4) {
	border-bottom: 2px solid white;
	background: #2a2a2a;
	color: #D4D4D4;
}

.tabs .input:nth-of-type(5):checked ~ .panel:nth-of-type(5) {
	display: flex;
}
.tabs .input:nth-of-type(5):checked ~ .label:nth-of-type(5) {
	border-bottom: 2px solid white;
	background: #2a2a2a;
	color: #D4D4D4;
}


#gameicon {
	max-width: 100px;
	max-height: 100px;
	padding-right: 1rem;

}
.infopanel  {
	display: flex;
}
.diff {
	font-size: 0.8em;
}
.infopanel h2 {
	margin-top: 11px;
	font-size: 1.3rem;
	text-align: center;
}
.infopanel > * {
	margin-right: 1rem;
}
.infopanel .info {
	text-align: center;
}

.gameinfo {
	max-width: 40%;
}
.splitname {
	display: grid;
	grid-template-columns: min-content auto;
	align-items: center;
	grid-gap: 5px;

}
.splitname img {
	min-width: 2rem;
	max-width: 2rem;
	justify-self: center;
}

.attempthistory {
	width: 100%;
}
td.rightalign {
	text-align: right;
	padding-right: 0.5rem;
}
td.leftalign {
	text-align: left;
	padding-left: 0.5rem;
}

.attempthistory .attempt {
	display: none;
}

input.pbonly:checked ~ .attempthistory .attempt.pbrun,
input.completedonly:checked ~ .attempthistory .attempt.completed,
input.allruns:checked ~ .attempthistory .attempt {
	display: table-row;
}

input.pbonly:checked ~ .attempthistory .attempt.pbeven,
input.completedonly:checked ~ .attempthistory .attempt.completedeven  {
	background: #2a2a2a;
}
input.pbonly:checked ~ .attempthistory .attempt.pbodd,
input.completedonly:checked ~ .attempthistory .attempt.completedodd  {
	background: #222222;
}


.history {
	width: 47%;
}

.history label, .charts label {
	margin-left: 0.5rem;
	margin-right: 1.5rem;
	line-height: 2.5rem;
}

.timingchooser {
	margin: 0.5rem;
	padding: 0.5rem;
}

.timingchooser label {
	margin-right: 1rem;
	margin-left: 0.25rem;

}


.bars {
	width: 100%;
	display: flex;
	height: 4rem;
	overflow-y: visible;
}


.bars > div:nth-of-type(12n+1) {
	--bg: 0, 31, 63;
}
.bars > div:nth-of-type(12n+2) {
	--bg: 0, 116, 217;
}
.bars > div:nth-of-type(12n+3) {
	--bg: 57, 204, 204;
}
.bars > div:nth-of-type(12n+4) {
	--bg: 61, 153, 112;
}
.bars > div:nth-of-type(12n+5) {
	--bg: 46, 204, 64;
}
.bars > div:nth-of-type(12n+6) {
	--bg: 1, 255, 112;
}
.bars > div:nth-of-type(12n+7) {
	--bg: 255, 220, 0;
}
.bars > div:nth-of-type(12n+8) {
	--bg: 255, 133, 27;
}
.bars > div:nth-of-type(12n+9) {
	--bg: 255, 65, 54;
}
.bars > div:nth-of-type(12n+10) {
	--bg: 133, 20, 75;
}
.bars > div:nth-of-type(12n+11) {
	--bg: 240, 18, 190;
}
.bars > div:nth-of-type(12n+12) {
	--bg: 177, 13, 201;
}


.bars > div {
	min-width: 2px;
	width: var(--w);
	background-color: rgba(var(--bg), 0.5);
	color: white;
	text-align: center;
	position:relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	transition: all 500ms ease-in-out;
	flex-grow: 1;

}

.bars > div .pts {
	overflow-x: hidden;
	font-size: 0.75em;
	white-space: nowrap;
	width: 0;
	height: 0;
	text-align: center;
	transform: scale(0.1);
	transition: all 500ms ease-in-out;
}
.bars > div:hover {
	width: max(200px, var(--w));
	height: 80px;
	overflow-y: visible;
	overflow-x: hidden;
}

.bars > div .goldbar {
	position: absolute;
	display: none;
	bottom: 0;
	height: 5px;
	left: 0;
	background: rgba(255,215,0,0.7);
	width: var(--gw);
}

.bars > div .time, .bars > div .timesave, .bars > div .resets, .bars > div .percentdetail {
	font-size: 0.75rem;
	white-space: nowrap;
}
.bars > div .percent {
	white-space: nowrap;
}

.prettycomparisons, .prettycomparisons > div {
	width: 100%;
}


div .bars > div span {
	display: none;
}

div .bars > div span.split {
	display: block;
}

#timespent:checked ~ div .bars > div .time,
#timespent:checked ~ div .bars > div .goldbar,
#timespent:checked ~ div .bars > div .pts {
	display: block;
}

#timespent:checked ~ div .bars > div:hover .pts {
	display: block;
	width: 100%;
	height: auto;
	transform: scale(1);
}

#possibletimesave:checked ~ div .bars > div .timesave {
	display: block;
}

#possibletimesave:checked ~ div .bars > div {
	width: var(--tsw);
}
#possibletimesave:checked ~ div .bars > div:hover {
	width: max(200px, var(--tsw));
}

#byresets:checked ~ div .bars > div .resets,
#byresetswo1:checked ~ div .bars > div .resets,
#byresets:checked ~ div .bars > div:hover .resetpc,
#byresetswo1:checked ~ div .bars > div:hover .resetpcex1,
#percent:checked ~ div .bars > div .percent,
#percentex:checked ~ div .bars > div .percent,
#percent:checked ~ div .bars > div .percentdetail,

#percentex:checked ~ div .bars > div .percentdetail {
	display: block;
}
#percent:checked ~ div .bars > div .pc,
#percentex:checked ~ div .bars > div .pcex {
	display: inline;
}

#byresets:checked ~ div .bars > div {
	min-width: 10px;
	width: var(--rsw);
}

#percentex:checked ~ div .bars > div {
	width: var(--exw);
}

#byresets:checked ~ div .bars > div:hover {
	width: max(200px, var(--rsw));
}

#byresetswo1:checked ~ div .bars > div {
	min-width: 10px;
	width: var(--rswo);
}

#byresetswo1:checked ~ div .bars > div:first-child {
	width: 0;
	min-width: 0;
	flex-grow: 0;
}
#byresetswo1:checked ~ div .bars > div:hover {
	width: max(200px, var(--rswo));
}

#percentex:checked ~ div .bars > div:hover {
	width: max(200px, var(--exw));
}

#progressbar {
	position: relative;
	width: 50%;
	color: white;
	height: 50px;
	text-align: center;
	line-height: 50px;
	margin-left: auto;
	margin-right: auto;
}

.modalviewerwrapper {
	transition: all 500ms ease-in-out;
	position: absolute;
	z-index: 300;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 3rem;

}
.bgblurer {
	position: fixed;
	background: rgba(0,0,0,.10);
	backdrop-filter: blur(8px);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


#modalviewer {
	border: 1px solid #d4d4d4;
	border-radius: 5px;
	background: #1E1E1E;
	position: relative;
	margin-top: 1rem;
	padding: 1rem;
	overflow-y: auto;
	font-size: 0.95rem;
}
.modalcloser {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;

}

.modalviewerwrapper.hidden {
	display: none;
}

a {
	color: whitesmoke;

}

.ct-label {
	color: rgba(255,255,255,0.4);
	fill:  rgba(255,255,255,0.4);
}
.ct-grid {
	stroke: rgba(255,255,255,0.2);
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke:rgba(200,0,0,0.33);
}
.ct-series-a .ct-point {
	stroke:rgba(125,0,0,1);
}

.ct-series-b .ct-line,
.ct-series-b .ct-point {
  stroke:rgba(0,150,0,0.66);
}

.ct-series-c .ct-line,
.ct-series-c .ct-point {
  stroke:rgba(200,200,0,0.66);
}

.attemptspanel {
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}
.attemptspanel > div {
	flex-grow: 1;
	flex-basis: calc(50% - 5px);

}
.ct-axis-title {
	fill: rgba(255,255,255,0.5);
	/*stroke: rgba(255,255,255,0.35);*/
}
.segmentdata {
	width: calc(100vw - 9rem);
	display: flex;
}
.charts {
	width: 50%;
}
#segmentchart {
	width: 100%;
	height: calc( 100vh - 15rem );
	min-height: 45vh;

}
.splitsio .button {
	padding-top: 2px;
	padding-bottom: 2px;
}

.chartist-tooltip {
	font-family: 'Lato', serif;
	background: #ddd;
	color: #1d1d1d;
	font-size: 14px;
	z-index: 1000;
}

.chartist-tooltip:before {
	border-top-color: #999;
}

.graphslider {
	height: 10px;
	margin-left: 60px;
	margin-right: 30px;
}

.graphslider .noUi-handle {
	width: 20px;
	height: 20px;
}

.graphslider .noUi-tooltip {
    display: none;
}
.graphslider .noUi-active .noUi-tooltip {
    display: block;
}

h2 {
	padding-left: 0.5rem;
}
.panel > h2 {
	padding: 0.5rem 0 0.5rem 0.5rem;
}