/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults */
html {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
	filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.hidden {
	display: none;
}
.hide {
	opacity: 0;
}
#drop-areaholder {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #1E1E1E;
	height: 100vh;
	z-index: 1000;
}
#drop-area {

	border: 2px dashed #ccc;
	border-radius: 20px;
	font-family: sans-serif;
	margin: 100px auto;
	padding: 100px 20px;
	width: calc(100vw - 200px);
	text-align: center;

}
#drop-areaholder, #results {
	transition: all 1000ms ease-in-out;
}

#drop-area.highlight {
	border-color: purple;
}
p {
	margin-top: 0;
}
.my-form {
	margin-bottom: 10px;
}
#gallery {
	margin-top: 10px;
}
#gallery img {
	width: 150px;
	margin-bottom: 10px;
	margin-right: 10px;
	vertical-align: middle;
}
.button {
	display: inline-block;
	padding: 10px;
	background: #ccc;
	color: #1d1d1d;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.button:hover {
	background: #ddd;
}
#fileElem {
	display: none;
}


body {
	font-family: 'Lato', serif;
	background: #1E1E1E;
	color: #D4D4D4;
	padding: 2rem;
}

#splits {
	width: 100%;

	line-height: 2em;


}
#splits tbody:nth-child(even) {
	background: #2a2a2a;
}
#splits td {
	text-align: center;
}

#splits tr > td:first-child {
	text-align: left;
	padding-left: 1rem;
}

.green {
	color: limegreen;
}

.red {
	color: lightcoral;
}

.gold {
	color: gold;
}


#categoryname {
	display: block;
	font-size: 0.75em;
	color: #a0a0a0;
	font-weight: normal;
}



.tabs {
	display: flex;
	flex-wrap: wrap;
	z-index: 1;
	position: relative;
	min-height: 25rem;
	overflow: hidden;

	border: 1px solid #333;
	border-radius: 5px;
}


.input {
	position: absolute;
	opacity: 0;
}

.label {
	width: auto;
	height: 2.75rem;
	color: #999;
	cursor: pointer;
	font-weight: bold;
	font-size: 0.875rem;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: background 0.3s, color 0.3s;

	text-transform: uppercase;
	/*&:last-of-type {
		border-right: none;
	}*/
}


.panel {
	display:none;
	align-content: flex-start;
	background: #222222;
	width: 100%;
	flex-wrap: wrap;

.tabs .input:nth-of-type(1):checked ~ .panel:nth-of-type(1) {
	display: flex;
}
.tabs .input:nth-of-type(1):checked ~ .label:nth-of-type(1) {
	border-bottom: 2px solid white;
	background: #2a2a2a;
	color: #D4D4D4;
}

.tabs .input:nth-of-type(2):checked ~ .panel:nth-of-type(2) {
	display: flex;
}
.tabs .input:nth-of-type(2):checked ~ .label:nth-of-type(2) {
	border-bottom: 2px solid white;
	background: #2a2a2a;
	color: #D4D4D4;
}


.tabs .input:nth-of-type(3):checked ~ .panel:nth-of-type(3) {
	display: flex;
}
.tabs .input:nth-of-type(3):checked ~ .label:nth-of-type(3) {
	border-bottom: 2px solid white;
	background: #2a2a2a;
	color: #D4D4D4;
}

.tabs .input:nth-of-type(4):checked ~ .panel:nth-of-type(4) {
	display: flex;
}
.tabs .input:nth-of-type(4):checked ~ .label:nth-of-type(4) {
	border-bottom: 2px solid white;
	background: #2a2a2a;
	color: #D4D4D4;
}

.tabs .input:nth-of-type(5):checked ~ .panel:nth-of-type(5) {
	display: flex;
}
.tabs .input:nth-of-type(5):checked ~ .label:nth-of-type(5) {
	border-bottom: 2px solid white;
	background: #2a2a2a;
	color: #D4D4D4;
}
